@import url(https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans);

#navLogo {
	max-height: 40px;
	margin-left: 5%;
}

html {
    font-family: 'Raleway', sans-serif !important;
}

#aboutUs {
	margin-top: 20px;
}

.aboutImg {
	height: 200px;
	width: 200px;
}

.eachSec {
	margin: auto;
	display: block;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.separate {
	height: 300px;
	width: 100%;
}
.separate-thin {
	height: 30px;
	width:100%;
}

.shep-icon {
	height: 5em;
}

.what-shep-title {
	padding-top: 30px;
}
.what-shep {
	text-align: center;
}

/* Double-color dashed line */
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.btn-large {
	position: relative;
	margin-top: 40px;
	left:50%;
	transform: translate(-50%, -50%);
}

.shepherd-text {
	color: #01579b;
}
