@import url(https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans);

#navLogo {
	max-height: 40px;
	margin-left: 5%;
}

html {
    font-family: 'Raleway', sans-serif !important;
}

#aboutUs {
	margin-top: 20px;
}

.aboutImg {
	height: 200px;
	width: 200px;
}

.eachSec {
	margin: auto;
	display: block;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.separate {
	height: 400px;
	width: 100%;
}
.separate-thin {
	height: 30px;
	width:100%;
}

.shep-icon {
	height: 5em;
}

.what-shep-title {
	padding-top: 90px;
}
.what-shep {
	text-align: center;
}

.btn-large {
	position: relative;
	margin-top: 40px;
	left:50%;
	transform: translate(-50%, -50%);
}

/*angular animations
https://code.angularjs.org/1.1.5/docs/api/ng.directive:ngShow#animations
http://www.yearofmoo.com/2013/04/animation-in-angularjs.html#animating-ng-show-ng-hide*/

