<!-- Introduce us. Introduce shepherd. Why is shepherd useful.
	Live demo of little tool tips.
	Julian -->
<div id="header" class="container">
	<h2>Today we're going to teach you about Shepherd</h2>
	<h3>But first...</h3>
</div>
<div id="aboutUs" class="container marketing">
	<div class="row">
		<div class="col-md-3 eachSec">
			<img class="img-circle aboutImg" src="img/katrina.jpg">
			<h2>Katrina</h2>
			<div>Drinks tea</div>
		</div>
		<div class="col-md-3 eachSec">
			<img class="img-circle aboutImg" src="img/julian.jpg">
			<h2>Julian</h2>
			<div>Has hair</div>
		</div>
		<div class="col-md-3 eachSec">
			<img class="img-circle aboutImg" src="img/simon.jpg">
			<h2>Simon</h2>
			<div>Was a drill sergeant in the Korean military</div>
		</div>
		<div class="col-md-3 eachSec">
			<img class="img-circle aboutImg" src="img/james.jpg">
			<h2>James</h2>
			<div>Is part of a longboard crew</div>
		</div>
	</div>
</div>
<div class="container">
	<h3>Alright, now that we've gotten that stuff out of the way let's get to Shepherd.</h3>
</div>
<div class="separate light-blue darken-2">
	
</div>
<div>
	<h2 class="text-center">What is Shepherd?</h2>
</div>