<!-- Adding buttons. Classes. Adding more steps. James -->
<div id="begin" class ="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<h4>If you want to add another step..</h4>
			<pre id="addstep" class="language-markup"><code class="language-javascript">
tour.addstep('start', {
	title: 'Adding another step with classes',
	text: 'you can add classes to change theme',
	attachTo: 'element right',
	classes: 'shepherd-theme-arrows',
	buttons: [
		{
			text: 'Next',
			action: tour.next
		}
	]
});
			</code></pre>
		</div>
		<div class="col-xs-6">
			<div id="explanation" class="container-fluid">
			<li><code>attachTo</code>: What element the step should be attached to on the page. For example: <code>".some #element left"</code>.  If you don't specify an <code>attachTo</code> the element will appear in the middle of the screen.</li>
			<a></a>
			<li><code>classes</code>: Extra classes to add to the step.  <code>shepherd-theme-arrows</code> will give you our theme.</li>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h4>If you want to add another button..</h4>
			<pre id="addbutton" class="language-markup"><code class="language-javascript">
tour.addstep('second', {
	title: 'Lets try adding a step with 2 buttons',
	text: 'you can simply add buttons by inserting more inside the step button method',
	attachTo: 'element bottom',
	classes: 'shepherd-theme-arrows',
	scrollTo: true
	buttons: [
		{
			text: 'Back',
			classes: 'shepherd-button-secondary',
			action: tour.back
		},
		{
			text: 'Next',
			action: tour.next
		}
	]
});
			</code></pre>
		</div>
		<div class="col-xs-6">
			<div id="explanation" class="container-fluid">
			<li><code>buttons</code>: An array of buttons to add to the step.  By default we add a Next button which triggers <code>next()</code>, set this to false
			to disable.  Each button in the array is an object of the format:<ol>
			<li><code>text</code>: The HTML text of the button</li>
			<li><code>classes</code>: Extra classes to apply to the <code>&lt;a&gt;</code></li>
			<li><code>action</code>: A function executed when the button is clicked on</li>
			<li><code>events</code>: A hash of events to bind onto the button, for example <code>{'mouseover': function(){}}</code>.  Adding a click event to <code>events</code> when you
			already have an <code>action</code> specified is not supported.</li>
			</ol>
			</li>
			<li><code>scrollTo</code>: Should the element be scrolled to when this step is shown?</li>
			</div>
		</div>
	</div>
</div>